In [1]:
import sqlite3

In [3]:
connection= sqlite3. connect('example.db')
connection

In [4]:
cursor= connection.cursor()

In [6]:
cursor.execute('''
create table if not exists employees(
    id integer primary key,
    name text not null,
    age integer,
    department text
) 
''')

## commit the chnges 
connection.commit()

In [7]:
cursor.execute('''
select * from employees 

''')

In [8]:
## insert the data in sqlite table
cursor.execute('''
    insert into employees(name,age,department)
               values('krish','32', 'data-sciencst')
               ''')

cursor.execute('''
    insert into employees(name,age,department)
               values('bob','36', 'financer')
               ''')

cursor.execute('''
    insert into employees(name,age,department)
               values('jack','37', 'sde')
               ''')

cursor.execute('''
    insert into employees(name,age,department)
               values('suman','38', 'devloper')
               ''')

cursor.execute('''
    insert into employees(name,age,department)
               values('aman','39', 'pro devloper')
               ''')

#commit the chnges

connection.commit()

In [10]:
## query tha data from the table

cursor.execute('select * from employees')
rows= cursor.fetchall()

### print the query data
for i in rows:
    print(i)

(1, 'krish', 32, 'data-sciencst')
(2, 'bob', 36, 'financer')
(3, 'jack', 37, 'sde')
(4, 'suman', 38, 'devloper')
(5, 'aman', 39, 'pro devloper')

In [11]:
## update the data in the table
cursor.execute('''
UPDATE employees
               set age= 99
               where name="suman"
''')
connection.commit()

In [12]:
## now again query from the updated dataset
cursor.execute('select * from employees')
rows= cursor.fetchall()

for i in rows:
    print(i)

(1, 'krish', 32, 'data-sciencst')
(2, 'bob', 36, 'financer')
(3, 'jack', 37, 'sde')
(4, 'suman', 99, 'devloper')
(5, 'aman', 39, 'pro devloper')

In [15]:
## delete the data from the table

cursor.execute('''
delete from employees
               where name='bob'

''')
connection.commit()

cursor.execute('select * from employees')
rows= cursor.fetchall();
for i in rows:
    print(i)

(1, 'krish', 32, 'data-sciencst')
(3, 'jack', 37, 'sde')
(4, 'suman', 99, 'devloper')
(5, 'aman', 39, 'pro devloper')

In [28]:
## working with sales data

conect= sqlite3.connect('sales_data.db')
cursr= conect.cursor()

cursr.execute('''
create table if not exists sales(
              id integer primary key,
              date text not null,
              product text not null,
              sales integer,
              region text
)
''')

## insert the data into the sales table
sales_data=[
('2023-01-14', 'Keyboard'  ,    603,'East ') ,
('2023-03-03', 'Monitor'   ,     842,'North'),
('2023-05-19', 'Laptop'    ,      724,'West'),
('2023-06-11', 'Smartphone',  194,'South'),
('2023-07-27', 'Headphones',  389,'North'),
('2023-08-02', 'Monitor'   ,     737,'South'),
('2023-02-25', 'Smartphone',  975,'West')
]
cursr.executemany('''
insert into sales(date,product,sales,region)
                  values(?,?,?,?)
''',sales_data)
conect.commit()

In [4]:
cursr.execute('select*from sales')
rows = cursr.fetchall()

for i in rows: 
    print(i)

NameError: name 'cursr' is not defined

In [1]:
conect.close()

NameError: name 'conect' is not defined

In [2]:
connection.close()

NameError: name 'connection' is not defined